@model List<DTO.PowerManager.User>

@{
    ViewData["Title"] = "用户列表";
    Layout = "~/Views/Share/_Layout.cshtml";
}

<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a>
            <cite>用户列表</cite>
        </a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>
    </a>
</div>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <input id="context" type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            <button onclick="sreach('@ViewBag.PageModel.CurrentPage','@ViewBag.PageModel.NumCount')" class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </div>
    <xblock>
        <button class="layui-btn AddData" onclick="x_admin_show('添加用户','../PowerManager/UserAddOrEdit')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据： @ViewBag.AllCount 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
            <tr>
                <th>
                    <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                </th>
                <th>ID</th>
                <th>登录名</th>
                <th>加入时间</th>
                <th>状态</th>
                <th>操作</th>
        </thead>
        <tbody>
            @{
                for (int x = 0; x < Model.Count; x++)
                {
            <tr>
                <td>
                    <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
                </td>
                <td>@Model[x].Id</td>
                <td>@Model[x].Account</td>
                <td>@Model[x].Create_time</td>
                <td class="td-status">
                    @if (Model[x].State == 1)
                    {
                        <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                    }
                    else
                    {
                        <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">未启用</span>
                    }
                </td>
                <td class="td-manage">
                    @if (Model[x].State == 1)
                    {
                        <a onclick="stop('@Model[x].Id')" href="javascript:;" title="停用"  class="DelData">
                            <i class="layui-icon">&#xe601;</i>
                        </a>
                    }
                    else
                    {
                        <a onclick="use('@Model[x].Id')" href="javascript:;" title="启用"  class="DelData">
                            <i class="layui-icon">&#xe601;</i>
                        </a>
                    }
                    <a title="编辑" onclick="x_admin_show('编辑','./UserAddOrEdit?Id=@Model[x].Id')" href="javascript:;" class="EditData">
                        <i class="layui-icon">&#xe642;</i>
                    </a>
                    <a title="删除" onclick="member_del(this,'@Model[x].Id')" href="javascript:;" class="DelData">
                        <i class="layui-icon">&#xe640;</i>
                    </a>
                </td>
            </tr>
                        }
                        }

                </tbody>
    </table>
    <div class='page'>
        <div>@Html.Raw(ViewBag.Page)</div>
    </div>
</div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        if (@ViewBag.Del== 0) $(".DelData").hide();
        if (@ViewBag.Add== 0) $(".AddData").hide();
        if (@ViewBag.Edit== 0) $(".EditData").hide();
        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

    });

    /*停用*/
    function stop(id) {
        layer.confirm('确认要停用吗？', function (index) {
            $.ajax({
                type: "post", dataType: "json", url: "UserChangeStute",
                data: { State: "2", Id: id, Method: "edit" },
                success: function (data) {
                    if (data.isOK) {
                        window.location = "UserList";
                    }
                    else {
                        console.log(data.msg);
                    }

                },
                error: function () {
                    //console.log("操作失败！");
                }
            });

        });
    }

    /*启用*/
    function use(id) {
        layer.confirm('确认要启用吗？', function (index) {
            $.ajax({
                type: "post", dataType: "json", url: "UserChangeStute",
                data: { State: "1", Id: id, method: "edit" },
                success: function (data) {
                    if (data.isOK) {
                        window.location = "UserList";
                    }
                    else {
                        console.log(data.msg);
                    }

                },
                error: function () {
                    //console.log("操作失败！");
                }
            });

        });
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            //$(obj).parents("tr").remove();
            //layer.msg('已删除!', { icon: 1, time: 1000 });
            $.ajax({
                type: "post", dataType: "json", url: "UserChangeStute",
                data: { State: "0", Id: id, method: "edit" },
                success: function (data) {
                    if (data.isOK) {
                        window.location = "UserList";
                    }
                    else {
                        console.log(data.msg);
                    }

                },
                error: function () {
                    //console.log("操作失败！");
                }
            });
        });
    }

    function sreach(pagerNum, num) {
        var title = $("#context").val();
        window.location = "UserList?CurrentPage=" + pagerNum + "&NumCount=" + num + "&TitleName=" + title;
    }
</script>



